<div style="min-height:100%">

    <header class="header">
        <a *ngIf="showMenu" href="javascript:;">
            <i class="menuburger headericons material-icons" style="font-size:40px" (click)="showMenu = !showMenu">keyboard_backspace</i>
        </a>
        <a *ngIf="!showMenu" href="javascript:;">
            <i class="menuburger headericons material-icons" style="font-size:40px" (click)="showMenu = !showMenu">menu</i>
        </a>
        <!--<img class="logo" src="statics/Home_desktop/menu.png">-->
        <div *ngIf="router.url == '/'" class="search">
            <i class="headericons material-icons">search</i>
            <input mdInput name="search" id="searcharea" placeholder="Rechercher" [(ngModel)]="searchStr" (ngModelChange)="searchChange()">
        </div>
        <div class="play">
            <i class="material-icons playbutton" *ngIf="!downloadService.downloading" (click)="downloadService.startDownloadList(0)">play_arrow</i>
            <i class="material-icons playbutton" *ngIf="downloadService.downloading" (click)="downloadService.stopDownloadList()">pause</i>
        </div>
        <div class="icone">
            <span>
                <i class="headericons material-icons">notifications_none</i>
            </span>
            <span>
                    <a *ngIf="userService.isUserLoad()" href="javascript:;" (click)="logout()" [routerLink]="['/']">
                        <i class="headericons material-icons">power_settings_new</i></a>
                    <a *ngIf="!userService.isUserLoad()" href="javascript:;" [routerLink]="['/login']">
                    <i class="headericons material-icons">account_circle</i>
                </a>
            </span>
        </div>
    </header>

    <div class="menu" *ngIf="showMenu">
        <ul class="ulist">
            <li class="list">
                <a href="javascript:;" [routerLink]="['/']">
                    <i class="headericons material-icons">book</i>Mangas</a>
            </li>
            <ul class="submenu" *ngIf="false">
                <li>
                    <i class="headericons material-icons">notifications_none</i>
                    <a href="#">Populaire</a>
                </li>
                <li>
                    <i class="headericons material-icons">notifications_none</i>
                    <a href="#">Genre</a>
                </li>
                <li>
                    <i class="headericons material-icons">notifications_none</i>
                    <a href="#">Dernières Sorties</a>
                </li>
            </ul>
            <li class="list" *ngIf="userService.isUserLoad()">
                <i class="headericons material-icons">library_books</i>
                <a href="javascript:;" [routerLink]="['/favorite']">Librairie</a>
            </li>
            <li class="list">
                <i class="headericons material-icons">search</i>
                <a href="#">Recherche</a>
            </li>
            <li class="list">
                <i class="headericons material-icons">file_download</i>
                <a href="javascript:;" [routerLink]="['/download']">Téléchargement</a>
            </li>
            <li class="list">
                <i class="headericons material-icons">settings</i>
                <a href="javascript:;" [routerLink]="['/params']">Paramètre</a>
            </li>
            <li class="listcontact">
                <i class="headericons material-icons">contacts</i>
                <a href="#">Contact</a>
            </li>

        </ul>
    </div>

    <div class="content">
        <router-outlet></router-outlet>
    </div>

    <!--<div [ngClass]="currentMangaId == '' ? 'content' : 'contentManga'">
        <app-manga-list *ngIf="printMangas.length > 0 && !onLoad && currentMangaId == ''" [listMangaPrint]="printMangas" (change)="viewManga($event)"></app-manga-list>
        <app-manga-detail *ngIf="!onLoad && currentMangaId != '' && currentScanId == ''"  [mangaId]="currentMangaId" (returnManga)="viewManga($event)" (viewChapterList)="viewChapterList($event)"></app-manga-detail>
        <app-scan-list *ngIf="!onLoad && currentMangaId != '' && currentScanId != '' && !currentScanObj" [scanId]="currentScanId" (returnMangaDetail)="viewChapterList($event)" (viewScan)="viewScan($event)"></app-scan-list>
        <app-scan-view *ngIf="!onLoad && currentMangaId != '' && currentScanId != '' && currentScanObj" [scanId]="currentScanId" [scanObj]="currentScanObj" (returnMangaList)="viewChapterList(currentScanId)"></app-scan-view>
        <div *ngIf="onLoad">LOADING...</div>
    </div>

    <div class="footer" *ngIf="currentMangaId == ''">
        <ngb-pagination *ngIf="totalMangas > 0" class="d-flex justify-content-center pagination" (pageChange)="setPage($event)" [collectionSize]="totalMangas" [pageSize]="limit" [(page)]="currentPage" [maxSize]="5" [boundaryLinks]="true">
        </ngb-pagination>
    </div>-->
</div>