<div *ngIf="isLoad" class="content">
	<ul class="to-watch-list posters-list list-unstyled list-inline single-row">
		<li class="new" *ngFor="let manga of mangasService.getListMangas(); let i = index" [attr.data-index]="i">
			<div class="nav" *ngIf="userService.isUserLoad()">
				<a href="javascript:;" (click)="removeFavorite(i)" *ngIf="manga.isFavorite">
					<i class="imgmenu spacemenu material-icons">star</i>
				</a>
				<a href="javascript:;" (click)="addFavorite(i)" *ngIf="!manga.isFavorite">
					<i class="imgmenu spacemenu material-icons">star_border</i>
				</a>
				<i class="">DL</i>
			</div>
			<div class="image-crop" [routerLink]="['detail', manga._id]">
				<div class="">Nouv.</div>
				<img *ngIf="manga.Cover.length > 0" [src]="manga.Cover[0].img">
				<img *ngIf="manga.Cover.length == 0" src="https://islandpress.org/sites/default/files/400px%20x%20600px-r01BookNotPictured.jpg">
			</div>
			<div class="episode-details poster-details">
				<h2>
					<span class="nb-remainging-episodes">{{getLastChapString(manga)}}</span>
				</h2>
				<a class="nb-reviews-link secondary-link">{{manga.Nom}}</a>
			</div>
		</li>
	</ul>
</div>
